{% extends "layout.html" %}
{% block body %}
  <a href="{{ url_for('admin_extra_services') }}" class="btn btn-secondary mb-3">← Back</a>
  <h2>{{ title }}</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.name.label }} {{ form.name(class="form-control") }}</div>
    <div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control") }}</div>
    <div class="mb-3 row">
      <div class="col">{{ form.price.label }} {{ form.price(class="form-control") }}</div>
      <div class="col">{{ form.type.label }} {{ form.type(class="form-select") }}</div>
    </div>
    {{ form.submit(class="btn btn-success") }}
  </form>
{% endblock %}
