{% extends "layout.html" %}
{% block body %}
  <a href="{{ url_for('admin_guest_options') }}" class="btn btn-secondary mb-3">← Back</a>
  <h2>{{ title }}</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3 row">
      <div class="col">{{ form.adult_count.label }} {{ form.adult_count(class="form-control") }}</div>
      <div class="col">{{ form.child_count.label }} {{ form.child_count(class="form-control") }}</div>
    </div>
    <div class="mb-3">{{ form.label.label }} {{ form.label(class="form-control") }}</div>
    {{ form.submit(class="btn btn-success") }}
  </form>
{% endblock %}
