{% extends "layout.html" %}
{% block body %}
  <a href="{{ url_for('admin_room_types') }}" class="btn btn-secondary mb-3">← Back</a>
  <h2>{{ title }}</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="row mb-3">
      <div class="col">{{ form.name.label }} {{ form.name(class="form-control") }}</div>
      <div class="col">{{ form.base_price.label }} {{ form.base_price(class="form-control") }}</div>
      <div class="col">{{ form.max_guests.label }} {{ form.max_guests(class="form-control") }}</div>
    </div>

    <div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control") }}</div>

    <div class="mb-3">
      {{ form.main_image.label }}<br>
      {{ form.main_image(class="form-control-file") }}
      {% if form.main_image.data is not defined and rt and rt.main_image %}
        <img src="{{ url_for('static', filename='uploads/'+rt.main_image) }}"
             class="img-thumbnail mt-2" width="200">
      {% endif %}
    </div>

    <div class="mb-3">
      {{ form.gallery_images.label }}<br>
      {{ form.gallery_images(class="form-control-file", multiple=true) }}
      {% if rt and rt.gallery_images %}
      <div class="row mt-2">
        {% for img in rt.gallery_images.split(',') %}
        <div class="col-2">
          <img src="{{ url_for('static', filename='uploads/'+img) }}"
               class="img-thumbnail">
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="mb-3">{{ form.features.label }} {{ form.features(class="form-control") }}</div>
    <div class="form-check mb-3">{{ form.is_luxury() }} {{ form.is_luxury.label }}</div>
    <div class="mb-3">{{ form.luxury_label.label }} {{ form.luxury_label(class="form-control") }}</div>

    {{ form.submit(class="btn btn-success") }}
  </form>
{% endblock %}
